<div class="container">

    <h2>Liste des participants</h2>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="w-20"> Nom </th>
            <td mat-cell *matCellDef="let element" > {{element.lastName}} {{element.firstName}} </td>
        </ng-container>

        <ng-container matColumnDef="pseudo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="w-20"> Pseudo </th>
            <td mat-cell *matCellDef="let element" > {{element.pseudo}} </td>
        </ng-container>

        <ng-container matColumnDef="challenges">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="w-30"> Défis </th>
            <td mat-cell *matCellDef="let element" class="challenges">
                <mat-icon *ngFor="let challenge of challenges;"
                    [ngClass]="{'unachieved': isChallengeUnachieved(challenge, element)}"
                    matTooltip={{challenge.description}}>{{challenge.iconName}}</mat-icon>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
