.container {
    width: 90%;
    margin: 5%;
    padding-bottom: 3%;
}

table {
    width: 100%;
    text-align: center;
}

.mat-header-cell {
    text-align: center;
}

.top8 {
    background-color: rgba(193, 7, 7, 0.632);
}
